body {
    background-color: #ccc;
}

.container {
    margin: 0 auto;
    width: fit-content;
}

table {
    /* width: 100%; */
    position: relative;
    &.active {
        /* border: 3px solid green; */
        box-shadow: 2px 2px 2px 5px darkseagreen;

        td {
            cursor: pointer;
            

            &:hover {
                background-color: aquamarine;
            }
        }
    }

    &.draw {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(128,128,128,0.75);
        }
    }

    
    tr {
        height: 150px;
        td {
            background-repeat: no-repeat;
            cursor: not-allowed;
            &.x {
                background-image: url('x.svg');
            }
        
            &.o {
                background-image: url('0.svg');
            }
            
            width: 150px;
            border: 1px solid black;
            background-color: blanchedalmond;
            background-size: contain;
            color: transparent;
            tr {
                height: 45px;
                td {
                    width: 45px;
                }
            }
        }

        &:nth-child(1){
            & > td {
                &:nth-child(1) {
                    border-width:  0 1px 1px 0;
                }
        
                &:nth-child(2) {
                    border-width:  0 1px 1px 1px;
                }
        
                &:nth-child(3) {
                    border-width:  0 0 1px 1px;
                }
            }
        }
        &:nth-child(2) {
            & > td {
                &:nth-child(1) {
                    border-left-width: 0;
                }
                &:nth-child(3) {
                    border-right-width: 0;
                }
            }
        }

        &:nth-child(3) {
            & > td {
                &:nth-child(1) {
                    border-width: 1px 1px 0 0;
                }
                &:nth-child(2) {
                    border-bottom-width: 0;
                }
                &:nth-child(3) {
                    border-width: 1px 0  0 1px;
                }
            }
        }
    }
}